@import url('https://fonts.googleapis.com/css?family=Fondamento|Merriweather:400,700');

.brand-logo {
    font-family: "Fondamento", cursive;
    font-size: 50px !important;
}

h2 {
    font-family: "Fondamento", cursive;
    font-size: 30px;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

h4 {
    font-size: 16px;
    font-weight: 700;
}

.body-text {
    font-family: "Merriweather", serif;
    font-size: 14px;
    font-weight: 400;
}