@import url('https://fonts.googleapis.com/css?family=Fondamento|Open+Sans:400,700');


/*Nav*/

nav {
    height: 100px;
    line-height: 100px;
}

.nav-wrapper {
    font-family: "Open Sans", sans-serif;
}

.brand-logo {
    font-family: "Fondamento", cursive;
    font-size: 3.5em !important;
}

/*This code from https://github.com/Dogfalo/materialize/issues/4046 prevents the navbar-fixed class from disabling the side nav*/
.navbar-fixed { 
    z-index: 9999; 
}


/*Main content*/

.container {
    margin-top: 70px;
    width: 80vw;
}


/*Headings*/

h1 {
    font-family: "Fondamento", cursive;
    font-size: 2.5em;
    text-align: center;
}

h2 {
    font-family: "Fondamento", cursive;
    font-size: 1.875em;
    text-align: inherit;
    margin-bottom: 5px;
    margin-top: 0px;
}


/*Landing Page*/

.category {
    text-align: center;
}

.illustration {
    border:1px solid black;
    width: 320px;
    margin-bottom: 20px;
}


/*Main text*/

body {
    background-color: #fffde7;
    font-family: "Open Sans", serif;
    font-weight: 400;
    line-height: 1.75em;
    margin-top: 0px;
}

a.recipe-title{
    color: black;
}

a.recipe-title:hover {
    color: #009688;
    text-decoration: underline;
}

#information {
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: inherit;
}

#flash {
    font-weight: 700;
}

/*The pre tag ensures that linebreaks are preserved in text pulled from MongoDB. This style ensures that the font matches the rest of the body text and the text wraps automatically*/
pre {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    white-space: pre-wrap; /*This line ensures that the text in the pre tag wraps automatically*/
}   

.centre{
    text-align: center;
}

/*Forms*/

.input-field {
     font-family: "Open Sans", sans-serif;
     color: #000 !important;
   }
   
   .input-field label {
     font-family: inherit;
     color: inherit;
   }

label {
     font-family: inherit;
     font-size: inherit;
     color: inherit;
}
   
.btn {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 160px;
    text-align: left;
}   


/*Media Queries*/

@media only screen and (max-width: 1265px) {
.brand-logo {
    font-size: 2.5em !important;
    }
    
h1 {
    font-size: 2em;
    }

h2 {
    font-size: 1.5em;
    }
    
.illustration {
    width: 270px;
    }
}

@media only screen and (max-width: 729px) {
    .brand-logo {
    font-size: 1.5em !important;
    }
}