@import url('https://fonts.googleapis.com/css?family=Fondamento|Open+Sans:400,600');


html {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 100%;
    background: url("../images/background.jpg") no-repeat center fixed; 
    background-size: cover;
    overflow: scroll;
}


/*Nav*/

nav {
    line-height: 100px;
}

.nav-wrapper {
    font-family: "Open Sans", sans-serif;
}

#main-nav {
    height: 100px;
}


.brand-logo {
    font-family: "Fondamento", cursive;
    font-size: 1.5rem !important; /*!important is used to override the Materialize CSS*/
    margin-left: 1rem;
}

::placeholder {
    font-size: 1rem;
    color: white;
    padding-left: 0.5rem;
}

.label-icon {
    margin-left: 10px;
}

#search {
    vertical-align: middle;
}

/*This code from https://github.com/Dogfalo/materialize/issues/4046 prevents the navbar-fixed class from disabling the side nav*/
.navbar-fixed { 
    z-index: 9999; 
}

/*This fixes a bug that causes misalignment of checkboxes and text in the Materialize multiple select menu*/
.multiple-select-dropdown label {
  top: -10px !important; /*!important is used to override the Materialize CSS*/
}


/*Containers*/

.container {
    background-color: rgba(255, 248, 225, .8);
    height: auto;
    padding: 50px;
    margin-top: 50px;
}

.category {
    text-align: center;
}


/*Images*/

#logo {
    height: 18px;
    width: 18px;
}

.material-icons {
    color: white !important; /*!important is used to override the Materialize CSS*/
}

.illustration {
    width: 200px;
    border:1px solid black;
    
}

.category-image {
    width: 100px;
    border:1px solid black;
    margin-bottom: 20px;
}


/*Headings*/

h1 {
    font-family: "Fondamento", cursive;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0rem;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    text-align: inherit;
    margin-bottom: 0.5rem;
}

h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

a.recipe-title{
    color: black;
}

a.recipe-title:hover {
    color: #bf360c;
    text-decoration: underline;
}


/*Main text*/

#login-text {
    text-align: center;
    font-weight: 600;
}

#flash {
    font-weight: 700;
}

#information {
    margin-bottom: 1rem;
}

/*The pre tag ensures that linebreaks are preserved in text pulled from MongoDB. This style ensures that the font matches the rest of the body text and the text wraps automatically*/
pre {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    white-space: pre-wrap; /*This line ensures that the text in the pre tag wraps automatically*/
}   

.centre{
    text-align: center;
}


/*Forms*/

.input-field {
     font-family: "Open Sans", sans-serif;
     color: #000 !important; /*!important is used to override the Materialize CSS*/
   }
   
   .input-field label {
     font-family: inherit;
     color: inherit;
   }

label {
     font-family: inherit;
     font-size: inherit;
     color: inherit;
}
   
.btn {
    font-family: "Open Sans", sans-serif;
    background-color: #009688;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 180px;
    text-align: left;
}

.btn:hover {
    background-color: #bf360c;
}


/*Media Queries*/

@media only screen and (min-width: 500px) {
    .category-image {
        width: 180px;
        }
        
    h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        }
    
    h2 {
        font-size: 1.5rem;
        margin-top: 1.5rem;
        }
        
    .illustration {
        margin-bottom: 1rem;
        margin-top: 2rem;
        }
        
    #login-text {
        text-align: right;
    }
    
    #information {
        margin-top: 1.5rem;
    }    
}


@media only screen and (min-width: 730px) {
    .brand-logo {
        font-size: 3.5rem !important; /*!important is used to override the Materialize CSS*/
        }    

    #logo {
        height: 40px;
        width: 40px;
        }
}


@media only screen and (min-width: 1500px) {
    .illustration {
        width: 320px;
        }

    .category-image {
        width: 250px;
        }
    
    #information {
        margin-top: 1.5rem;
    }    
}