{% extends 'base.html'%} {% block content %}

    <h2>Now Add the Ingredients</h2>
                <div class="row">
                    <div class="input-field col s4">
                        <input id="quantity" name="quantity" type="text" class="validate">
                        <label for="first_name">Quantity:</label>
                    </div>
                    <div class="input-field col s4" id="unit" name="unit">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">g</option>
                            <option value="2">kg</option>
                            <option value="3">ml</option>
                            <option value="3">l</option>
                            <option value="3">fluid oz</option>
                            <option value="3">oz</option>
                            <option value="3">lb</option>
                            <option value="3">tbsp</option>
                            <option value="3">tsp</option>
                        </select>
                        <label>Unit:</label>
                      </div>
                    <div class="input-field col s4">
                        <input id="ingredient" name="ingredient" type="text" class="validate">
                        <label for="ingredient">Name of Ingredient:</label>
                    </div>
                </div>
            
            <a class="waves-effect waves-light red darken-4 btn">Submit Ingredient</a>
            

{% endblock %}