{% extends 'base.html'%} {% block content %}


    <h2>Add Your Own Recipe</h2>
    
                <form action="{{ url_for('show_recipe') }}" method="POST" class="col s12">
                    
                    <!--The title of the recipe-->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="recipe_name" name="recipe_name" type="text" class="validate">
                            <label for="recipe_name">Recipe Title:</label>
                        </div>
                    </div>
                    
                    
                    <div class="row">
                        
                        <!--The name of the author-->
                        <div class="input-field col s6">
                            <input id="author" name="author" type="text" class="validate">
                            <label for="author">Author:</label>
                        </div>
                        
                        <!--The author's country of origin-->
                        <div class="input-field col s6">
                            <input id="origin" name="origin" type="text" class="validate">
                            <label for="origin">Author's Nationality:</label>
                        </div>
                        
                    </div> <!--End of author information row-->
     
                    
                    <div class="row">
                        
                        <!--The number of servings the recipe makes-->
                        <div class="input-field col s6">
                            <input id="servings" name="servings" type="text" class="validate">
                            <label for="servings">Number of Servings:</label>
                        </div>
                        
                        <!--The time needed to prepare the recipe, not counting marinading and cooking time-->
                        <div class="input-field col s6">
                            <input id="prep_time" name="prep_time" type="text" class="validate">
                            <label for="prep_time">Preparation Time:</label>
                        </div>
                        
                    </div> <!--End of serving quantity and prep time row-->
                    
                    
                    <div class="row">
                        
                        <!--The time needed to marindade the recipe, if applicable-->
                        <div class="input-field col s6">
                            <input id="marinate_time" name="marinate_time" type="text" class="validate">
                            <label for="marinate_time">Marinate Time (please leave this blank if it doesn't apply):</label>
                        </div>
                        
                        <!--The time needed to cook the recipe-->
                        <div class="input-field col s6">
                            <input id="cook_time" name="cook_time" type="text" class="validate">
                            <label for="cook_time">Cook Time:</label>
                        </div>
                        
                    </div> <!--End of marinade and cook time row-->
                    
                    
                    <!--Dietary restrictions-->
                    <div class="row">
                        
                        <!--Allergen selector-->
                        <div class="col s6" id="allergens" name="allergens">
                            <select multiple>
                                <option value="" disabled selected>Allergens (please click to select options):</option>
                                <option value="1" id="dairy" name="dairy">dairy</option>
                                <option value="2" id="eggs" name="eggs">eggs</option>
                                <option value="3" id="fish" name="fish">fish</option>
                                <option value="1" id="peanuts" name="peanuts">peanuts</option>
                                <option value="3" id="shellfish" name="shellfish">shellfish</option>
                                <option value="2" id="soy" name="soy">soy</option>
                                <option value="3" id="tree nuts" name="tree nuts">tree nuts</option>
                                <option value="3" id="wheat" name="wheat">wheat</option>
                            </select>
                        </div> <!--End of allergen selector-->
                        
                        <!--Selector to indicate if the recipe is suitable for vegetarians-->
                        <div class="col s3">
                            <div class="switch">
                                <label>
                                    <input id="vegetarian" name="vegetarian" type="checkbox">
                                    <span class="lever"></span>
                                    Vegetarian
                                </label>
                            </div> 
                        </div> <!--End of vegetarian selector-->
                        
                        <!--Selector to indicate if the recipe is suitable for vegans-->
                        <div class="col s3">
                            <div class="switch">
                                <label>
                                    <input id="vegan" name="vegan" type="checkbox">
                                    <span class="lever"></span>
                                    Vegan
                                </label>
                            </div>
                        </div> <!--End of vegan selector-->
                        
                    </div> <!--End of dietary restrictions row-->
                    
                    
                    <!--Input field for the ingredients-->
                    <div class="row">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="ingredients" name="ingredients" class="materialize-textarea"></textarea>
                                <label for="ingredients">Ingredients:</label>
                            </div>
                        </div>
                    </div> <!--End of ingredients-->
                    
                    <!--Input field for the method-->
                    <div class="row">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="method" name="method" class="materialize-textarea"></textarea>
                                <label for="method">Method:</label>
                            </div>
                        </div>
                    </div> <!--End of method-->
                    
                    <!--Button to submit the recipe-->
                    <div class="row">
                        <button class="btn waves-effect waves-light red darken-4" type="submit" name="action">Submit Recipe
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    
                </form>


{% endblock %}