{% extends 'base.html'%} {% block content %}

    <h2>Now Add the Ingredients</h2>
    
                <div class="row">
                    
                    <form action="{{ url_for('add_ingredients') }}" method="POST" class="col s12">
                        
                        <!--Input the quantity of the ingredient-->
                        <div class="input-field col s4">
                            <input id="quantity" name="quantity" type="text" class="validate">
                            <label for="first_name">Quantity:</label>
                        </div>
                        
                        <!--Input the name of the unit of measurement-->
                        <div class="input-field id="unit" name="unit" col s4">
                            <select>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="1">g</option>
                                <option value="2">kg</option>
                                <option value="3">ml</option>
                                <option value="3">l</option>
                                <option value="3">fluid oz</option>
                                <option value="3">oz</option>
                                <option value="3">lb</option>
                                <option value="3">tbsp</option>
                                <option value="3">tsp</option>
                            </select>
                            <label>Unit:</label>
                        </div>
                          
                        <!--Input the name of the ingredient-->
                        <div class="input-field col s4">
                            <input id="ingredient" name="ingredient" type="text" class="validate">
                            <label for="ingredient">Name of Ingredient:</label>
                        </div>
                        
                        <!--Submit the ingredient and reload the page to add another one-->
                        <a class="waves-effect waves-light red darken-4 btn">Submit Ingredient</a>
                        
                    </form>    
                </div>
            
            

{% endblock %}