{% extends 'base.html'%} {% block content %}

    <h2>Now for the Method</h2>
    
            <h3>Method</h3>
            
            <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea id="textarea1" class="materialize-textarea"></textarea>
                      <label for="textarea1">Method:</label>
                    </div>
                    
                  </div>
                </form>
            </div>
            
        <a class="waves-effect waves-light red darken-4 btn">Submit Recipe</a>

{% endblock %}