<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <link rel="shortcut icon" href="{{url_for('static', filename='images/chef_hat.ico')}}" type="image/x-icon">
    <title>Reciprocator</title> 
</head>
    
<body>
        
    <header>
        
        <!--Navbar-->
            
        <div class="navbar-fixed"> <!--This ensures that the navbar remains visible when the user scrolls down the page-->
            
            <nav>
                    
                <!--Logo and title-->
                <div class="nav-wrapper deep-orange darken-4" id="main-nav">
                    <a href="{{url_for('index')}}" class="brand-logo">
                        <img src="../static/images/chefs-hat-white.png" id="logo" alt="Logo"> Reciprocator</a>

                    <!--Nav for desktop and laptop devices-->
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="{{url_for('index')}}">Home</a></li>
                        {% if session %}
                            <!--If a user is logged in, they see a link to log out in the navbar-->
                            <li><a href="{{url_for('logout')}}">Log Out</a></li>
                        {% else %}    
                            <!--If the user is not logged in, they see links to log in or register in the navbar-->
                            <li><a href="{{url_for('login')}}">Log In</a></li>
                            <li><a href="{{url_for('register')}}">Register</a></li>
                        {% endif %}    
                        <li><a href="{{url_for('list_recipes')}}">View All Recipes</a></li>
                        <li><a href="{{url_for('add_recipe')}}">Add a Recipe</a></li>
                    </ul>
                        
                    <!--Side nav for mobile devices-->
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="{{url_for('index')}}">Home</a></li>
                        {% if session %}
                            <li><a href="{{url_for('logout')}}">Log Out</a></li>
                        {% else %}    
                            <li><a href="{{url_for('login')}}">Log In</a></li>
                            <li><a href="{{url_for('register')}}">Register</a></li>
                        {% endif %}
                        <li><a href="{{url_for('list_recipes')}}">View All Recipes</a></li>
                        <li><a href="{{url_for('add_recipe')}}">Add a Recipe</a></li>
                    </ul>
                        
                </div> <!--End of logo, title and nav menus-->
                    
                <!--Search Field-->
                <div class="nav-wrapper deep-orange darken-4">
                  <form action="{{ url_for('search')}}" method="POST">
                    <div class="input-field">
                      <input id="search" name="search"  placeholder="Search for recipes by keyword" required>
                      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    </div>
                  </form>
                </div> <!--End of search field-->

            </nav> 
            
        </div> <!--End of navbar-->

    </header>
        
    <div class="container">
        
        {% if session.username %}
            <p id="logged-in">Logged in as {{ session.username }}</p>
        {% endif %}
            
        {% block content %} {% endblock %}
            
    </div>
        
    <!--Scripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        
</body>
    
</html>    