<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
        <link rel="shortcut icon" href="{{url_for('static', filename='images/chef_hat.ico')}}" type="image/x-icon">
        <title>Reciprocator</title> 
    </head>
    
    <body>
        
        <header>
        
            <!--Navbar-->
            
            <div class="navbar-fixed"> <!--This ensures that the navbar remains visible when the user scrolls down the page-->
            
                <nav>
                    
                    <!--Logo and title-->
                    <div class="nav-wrapper deep-orange darken-4" id="main-nav">
                        <a href="{{url_for('index')}}" class="brand-logo center">
                            <img src="../static/images/chefs-hat-white.png" alt="Logo" height="42" width="42">Reciprocator</a>
                        
                        <!--Nav for desktop and laptop devices-->
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul id="nav-mobile" class="left hide-on-med-and-down">
                            <li><a href="{{url_for('index')}}">Home</a></li>
                            <li><a href="{{url_for('add_recipe')}}">Add a Recipe</a></li>
                            <li><a href="{{url_for('list_recipes')}}">View All Recipes</a></li>
                            <li><a href="{{url_for('login')}}">Log In</a></li>
                        </ul>
                        
                        <!--Side nav for mobile devices-->
                        <ul class="side-nav" id="mobile-demo">
                            <li><a href="{{url_for('index')}}">Home</a></li>
                            <li><a href="{{url_for('add_recipe')}}">Add a Recipe</a></li>
                            <li><a href="{{url_for('list_recipes')}}">View All Recipes</a></li>
                            <li><a href="{{url_for('login')}}">Log In</a></li>
                        </ul>
                        
                    </div> <!--End of logo, title and nav menus-->
                    
                    <!--Search Field-->
                    <div class="nav-wrapper deep-orange darken-4">
                      <form action="{{ url_for('search')}}" method="POST">
                        <div class="input-field">
                          <input id="search" type="search" required>
                          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        </div>
                      </form>
                    </div> <!--End of search field-->

                </nav> 
            
            </div> <!--End of navbar-->

        </header>
        
        <div class="container">
            
            {% block content %} {% endblock %}
            
            <!--Code to display flashed messages to the user-->
            {% with messages = get_flashed_messages() %} {% if messages %}
            
                {% for message in messages %}
                                    
                <p id="flash">{{ message }} </p>
                
                {% endfor %}
                
            {% endif %} {% endwith %} <!--End of loop through flashed messages-->
            
        </div>
        
        <!--Scripts-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    </body>
    
</html>    