{% extends 'base.html'%} {% block content %}


    <h1>Edit the Recipe</h1>
    <h2>Fields marked with an asterisk are required</h2>
    
                <form action="{{ url_for('submit_changes', recipe_id=recipe._id) }}" method="POST" class="col s12">
                    
                    <!--The recipe's title, author and category-->
                    <div class="row">
                        
                        <div class="input-field col s6">
                            <input id="recipe_name" name="recipe_name" type="text" class="validate" value="{{recipe.recipe_name}}" required>
                            <label for="recipe_name">Recipe Title*</label>
                        </div>
                        
                        <!--The name of the author-->
                        <div class="input-field col s3">
                            <input id="author" name="author" type="text" class="validate" value="{{recipe.author}}">
                            <label for="author">Author</label>
                        </div>

                        <div class="input-field col s3">
                            <select id="category" name="category_name">
                                <option value="" disabled selected>Click to Select</option>
                                {% for category in categories %}
                                    <option value="{{category.category_name}}"
                                        {% if category.category_name == recipe.category_name %} selected {% endif %}
                                    >{{category.category_name}}</option>
                                {% endfor %}
                            </select>
                            <label>Category*</label>
                        </div>
                        
                    </div> <!--End of title, author and category row-->
                    
                    
                    <div class="row"> <!--Country of origin and dietary restrictions-->
                        
                        <!--The recipe's country of origin-->
                        <div class="input-field col s4">
                            <input id="origin" name="origin" type="text" class="validate" value="{{recipe.origin}}">
                            <label for="origin">Country of Origin</label>
                        </div>
                        
                        <!--Allergens-->
                        <div class="input-field col s4">
                            <input id="allergens" name="allergens" type="text" value="{{recipe.allergens}}" class="validate">
                            <label for="allergens">Allergens</label>
                        </div>
                        
                        <!--Selector to indicate if the recipe is suitable for vegetarians-->
                        <div class="col s2">
                            <div class="switch">
                                <label>
                                    <input id="vegetarian" name="vegetarian" type="checkbox"
                                        {% if recipe.vegetarian %} checked {% endif %}>
                                    <span class="lever"></span>
                                    Vegetarian
                                </label>
                            </div> 
                        </div> <!--End of vegetarian selector-->
                        
                        <!--Selector to indicate if the recipe is suitable for vegans-->
                        <div class="col s2">
                            <div class="switch">
                                <label>
                                    <input id="vegan" name="vegan" type="checkbox" 
                                        {% if recipe.vegan %} checked {% endif %}>
                                    <span class="lever"></span>
                                    Vegan
                                </label>
                            </div>
                        </div> <!--End of vegan selector-->

                    </div> <!--End of country of origin and dietary restrictions-->
     
                    
                    <div class="row"> <!--Recipe statistics-->
                        
                        <!--The number of servings the recipe makes-->
                        <div class="input-field col s3">
                            <input id="servings" name="servings" type="text" class="validate" value="{{recipe.servings}}" required>
                            <label for="servings">Number of Servings*</label>
                        </div>
                        
                        <!--The time needed to prepare the recipe, not counting marinading and cooking time-->
                        <div class="input-field col s3">
                            <input id="prep_time" name="prep_time" type="text" class="validate" value="{{recipe.prep_time}}" required>
                            <label for="prep_time">Preparation Time*</label>
                        </div>
                        
                        <!--The time needed to marindade the recipe, if applicable-->
                        <div class="input-field col s3">
                            <input id="marinate_time" name="marinate_time" type="text" value="{{recipe.marinate_time}}" class="validate">
                            <label for="marinate_time">Marinate Time</label>
                        </div>
                        
                        <!--The time needed to cook the recipe-->
                        <div class="input-field col s3">
                            <input id="cook_time" name="cook_time" type="text" class="validate" value="{{recipe.cook_time}}" required>
                            <label for="cook_time">Cook Time*</label>
                        </div>

                    </div> <!--End of recipe statistics-->
                    
                    
                    <!--Input field for the ingredients-->
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="ingredients" name="ingredients" class="materialize-textarea" required>{{recipe.ingredients}}</textarea>
                            <label for="ingredients">Ingredients*</label>
                        </div>
                    </div> <!--End of ingredients-->
                    
                    <!--Input field for the method-->
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="method" name="method" class="materialize-textarea" required>{{recipe.method}}</textarea>
                            <label for="method">Method*</label>
                        </div>
                    </div> <!--End of method-->
                    
                    <!--Button to submit the changes-->
                    <div class="row">
                        <button class="btn waves-effect waves-light red darken-4" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    
                </form>
                

{% endblock %}