{% extends 'base.html'%} {% block content %}



<div class="row">
            

        <h1>Browse by Category</h1>
        
        <div class="col s6 l4 category">
            <h2>Bread</h2>
            <a href="{{url_for('list_recipes_by_cat', category_name="Bread")}}">
                <img class="category-image" src="../static/images/easy-white-bread.jpg" title="Easy white bread" alt="Easy white bread"></a>
        </div>
                
        <div class="col s6 l4 category">
            <h2>Starters</h2>
            <a href="{{url_for('list_recipes_by_cat', category_name="Starters")}}">
                <img class="category-image" src="../static/images/salmon-prawns.jpg" title="Smoked Salmon and Prawns" alt="Smoked Salmon and Prawns"></a>
        </div>
                
        <div class="col s6 l4 category">
            <h2>Mains</h2>
            <a href="{{url_for('list_recipes_by_cat', category_name="Mains")}}">
                <img class="category-image" src="../static/images/salmon-asparagus.jpg" title="Salmon with Asparagus" alt="Salmon with Asparagus"></a>
        </div>
                
        <div class="col s6 l4 category">
            <h2>Sides</h2>
            <a href="{{url_for('list_recipes_by_cat', category_name="Sides")}}">
                <img class="category-image" src="../static/images/quinoa-feta-salad.jpg" title="Quinoa feta salad" alt="Quinoa feta salad"></a>
        </div>
                
        <div class="col s6 l4 category">
            <h2>Sauces</h2>
            <a href="{{url_for('list_recipes_by_cat', category_name="Sauces")}}">
                <img class="category-image" src="../static/images/pesto.jpg" title="Pesto sauce" alt="Pesto sauce"></a>
        </div>
                
        <div class="col s6 l4 category">
            <h2>Desserts</h2>
            <a href="{{url_for('list_recipes_by_cat', category_name="Desserts")}}">
                <img class="category-image" src="../static/images/meringue-roulade.jpg" title="Roulade" alt="Roulade"></a>
        </div>
        
</div>

<div class="row">
        
        <h1>Special Diets</h1>
        
        <div class="col s3">
            <h2>Vegetarian</h2>
            <a href="#">
                <img class="category-image" src="../static/images/spicy-root-lentil.jpg" title="Root and Lentil Casserole" alt="Root and Lentil Casserole"></a>
        </div>

        <div class="col s3">
            <h2>Vegan</h2>
            <a href="#">
                <img class="category-image" src="../static/images/butternut-soup.jpg" title="Butternut Soup" alt="Butternut Soup"></a>
        </div>

        <div class="col s3">
            <h2>Gluten-Free</h2>
            <a href="#">
                <img class="category-image" src="../static/images/tomato-bread.jpg" title="Gluten-Free Tomato Bread" alt="Gluten-Free Tomato "></a>
        </div>
        
        <div class="col s3">
            <form action="{{ url_for('allergens') }}" method="POST">
                <h2>Exclude Allergens</h1>
                <div class="input-field">
                    <select multiple id="allergens" name="allergens">
                        <option value="" disabled selected>Click to Select</option>
                        {% for allergen in allergens %}
                        <option value="{{allergen.allergen_name}}">{{allergen.allergen_name}}</option>
                        {% endfor %}
                    </select>
                    <label>Allergens:</label>
                </div>
                
                <button class="btn waves-effect waves-light" type="submit" name="action">Search
                    <i class="material-icons right">search</i>
                </button>
            </form>
        </div>

    </div>
    
{% endblock %}