{% extends 'base.html'%} {% block content %}

<h1>Browse by Category</h1>

<div class="row">
            
    <div class="col s6 l4 category">
        <h2>Bread</h2>
        <a href="{{url_for('bread')}}"><img class="category-image" src="../static/images/easy-white-bread.jpg" title="Easy white bread" alt="Easy white bread"></a>
    </div>
            
    <div class="col s6 l4 category">
        <h2>Starters</h2>
        <a href="{{url_for('starters')}}"><img class="category-image" src="../static/images/salmon-prawns.jpg" title="Smoked Salmon and Prawns" alt="Smoked Salmon and Prawns"></a>
    </div>
            
    <div class="col s6 l4 category">
        <h2>Mains</h2>
        <a href="{{url_for('mains')}}"><img class="category-image" src="../static/images/salmon-asparagus.jpg" title="Salmon with Asparagus" alt="Salmon with Asparagus"></a>
    </div>
            
    <div class="col s6 l4 category">
        <h2>Sides</h2>
        <a href="{{url_for('sides')}}"><img class="category-image" src="../static/images/quinoa-feta-salad.jpg" title="Quinoa feta salad" alt="Quinoa feta salad"></a>
    </div>
            
    <div class="col s6 l4 category">
        <h2>Sauces</h2>
        <a href="{{url_for('sauces')}}"><img class="category-image" src="../static/images/pesto.jpg" title="Pesto sauce" alt="Pesto sauce"></a>
    </div>
            
    <div class="col s6 l4 category">
        <h2>Desserts</h2>
        <a href="{{url_for('desserts')}}"><img class="category-image" src="../static/images/meringue-roulade.jpg" title="Roulade" alt="Roulade"></a>
    </div>
            
</div>
    
{% endblock %}