{% extends 'base.html'%} {% block content %}
    <h1>Search the Recipe Database</h1>
    
        <div class="row">
            <div class="col s4 category">
                <h2>Bread and Baked Goods</h2>
                <img " src="../static/images/bread.jpg" width="275" height="275" title="Bread and baked goods" alt="Bread and baked goods"></a>
            </div>
            <div class="col s4 category">
                <h2>Main Dishes</h2>
                <img " src="../static/images/mains.jpg" width="275" height="275" title="Main dishes" alt="Main dishes"></a>
            </div>
            <div class="col s4 category">
                <h2>Side Dishes</h2>
                <img " src="../static/images/side_dishes.jpg" width="275" height="275" title="Side dishes" alt="Side dishes"></a>
            </div>
        </div>
        <div class="row">
            <div class="col s4 category">
                <h2>Snacks, Soups and Starters</h2>
                <img " src="../static/images/soup.jpg" width="275" height="275" title="Soup" alt="Soup"></a>
            </div>
            <div class="col s4 category">
                <h2>Sauces</h2>
                <img " src="../static/images/sauce.jpg" width="275" height="275" title="Sauce" alt="Sauce"></a>
            </div>
            <div class="col s4 category">
                <h2>Desserts</h2>
                <img " src="../static/images/dessert.jpg" width="275" height="275" title="Slice of cake" alt="Slice of cake"></a>
            </div>
        </div>
    
{% endblock %}