{% extends 'base.html'%} {% block content %}

        <h1>Recipes</h1>
        
        <!--Loop through recipes in the database-->
        
        {% for recipe in recipes %}
        
            <h2>{{recipe.recipe_name}}</h2> 
                    
            <div class="row">
                <div class="col s4">
                    <!--The recipe's category-->
                    Category: {{recipe.category_name}} <br>
        
                    <!--Optional text to display if the recipe contains allergens-->
                    {% if recipe.allergens %}
                        Contains {{recipe.allergens}}<br>
                    {% endif %}
                                
                    <!--Optional text to display if the recipe is suitable for vegans and/or vegetarians-->
                    {% if recipe.vegetarian and not recipe.vegan %}
                        Suitable for vegetarians<br>
                    {% endif %}
                    {% if recipe.vegan %}
                        Suitable for vegans and vegetarians<br>
                    {% endif %}    
            
                    <!--Number of servings-->
                    {% if recipe.servings %}
                        Serves: {{recipe.servings}}<br>
                    {% endif %}
                </div>
                
                <div class="col s4">
                    <!--Preparation time, not counting cooking and marindading time-->
                    {% if recipe.prep_time %}
                        Preparation Time: {{recipe.prep_time}}<br>
                    {% endif %}
                    
                    <!--Optional text for marinade-->
                    {% if recipe.marinate_time %}
                        Marinate Time: {{recipe.marinate_time}}<br>
                    {% endif %}
                                
                    <!--Time needed to cook the recipe-->
                    {% if recipe.cook_time %}
                        Cook Time: {{recipe.cook_time}} <br>
                    {% endif %}
                </div>
                
                <div class="col s4">
                    <a href="{{url_for('show_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn red darken-4">
                        <i class="material-icons right">view_compact</i>View</a>
                </div>
                
            </div>

    {% endfor %} <!--End of loop through recipes-->

{% endblock %}