{% extends 'base.html'%} {% block content %}

        <!--Loop through recipes to display-->
        {% for recipe in recipes %}
            <h2>{{recipe.recipe_name}}</h2>
            
            <div  class= "body-text">
                
                <!--Information about the recipe-->
                <div id="information">
                    <em>Author:</em> {{recipe.author}}<br>
                    <em>Country of Origin:</em> {{recipe.origin}}<br>
                    <em>Serves:</em> {{recipe.servings}}<br>
                    <em>Preparation Time:</em> {{recipe.prep_time.prep_number}} 
                    {{recipe.prep_time.prep_unit}}<br>
        
                    <!--Optional text for marinade-->
                    {% if recipe.marinate_time %}
                        <em>Marinate Time:</em> {{recipe.marinate_time.marinate_number}} 
                        {{recipe.marinate_time.marinate_unit}}<br>
                    {% endif %}
                    
                    <em>Cook Time:</em> {{recipe.cook_time.cook_number}} 
                    {{recipe.cook_time.cook_unit}}</p>
        
                    <!--Optional text to display if the recipe is suitable for vegetarians and/or vegans-->
                    {% if recipe.vegetarian and not recipe.vegan %}
                        <p>Suitable for vegetarians</p>
                    {% endif %}
                    
                    {% if recipe.vegan %}
                        <p>Suitable for vegans and vegetarians</p>
                    {% endif %}    
                    
                    <!--Optional text to display if the recipe contains common allergens-->
                    {% if recipe.allergens %}
                        <h3>Allergens</h3>
                        <p>Contains {{recipe.allergens}}</p>
                    {% endif %}
                </div> <!--End of information-->
    
                <!--Ingredients-->
                <div id="ingredients">
                <h3>Ingredients</h3>
                {% for ingredient in recipe.ingredients %}
                    {{ingredient.quantity}} {{ingredient.unit}} 
                    {{ingredient.ingredient}}<br>
                    
                    <!--Optional text for marinade-->
                    {% if ingredient.marinade %}
                        <h4>For the Marinade</h4>
                        {% for ingredient in ingredient.marinade %}
                            {{ingredient.quantity}} {{ingredient.unit}} 
                            {{ingredient.ingredient}}<br>
                        {% endfor %} <!--End of loop through marinade ingredients-->   
                    {% endif %} <!--End of marinade text-->
                    
                {% endfor %}  <!--End of loop through ingredients-->
                </div> <!--End of ingredients-->
                
                <!--Preparation instructions-->
                <div id="method">
                    <h3>Method</h3>
                    {% for paragraph in recipe.method %}
                        <p>{{paragraph.paragraph_text}}</p>
                    {% endfor %}
                </div> <!--End of preparation instructions-->
                
            </div> <!--End of recipe-->
            
        {% endfor %} <!--End of loop through recipes-->

{% endblock %}