{% extends 'base.html'%} {% block content %}

        <!--Loop through recipes in the database-->
        {% for recipe in recipes %}
            <h1>{{recipe.recipe_name}}</h1>
            
            <div  class= "row">
                
                <!--Information about the recipe-->
                <div class="col  l3" id="information">
                    <h2>Information</h2>
                    <div>
                        
                        <!--Optional text to display if the recipe contains allergens-->
                        {% if recipe.allergens %}
                            <p>Contains {{recipe.allergens}}</p>
                        {% endif %}
                        
                        <!--Optional text to display if the recipe is suitable for vegans and/or vegetarians-->
                        {% if recipe.vegetarian and not recipe.vegan %}
                            <p>Suitable for vegetarians</p>
                        {% endif %}
                        {% if recipe.vegan %}
                            <p>Suitable for vegans and vegetarians</p>
                        {% endif %}    
    
                        <!--Optional text for the recipe's author-->
                        {% if recipe.author %}
                            <em>Author:</em> {{recipe.author}}<br>
                        {% endif %}

                        <!--The recipe's category-->
                        <em>Category:</em> {{recipe.category_name}} <br>
                        
                        <!--Optional text for the recipe's country of origin-->
                        {% if recipe.origin %}
                            <em>Country of Origin:</em> {{recipe.origin}}<br>
                        {% endif %}
                        
                        <!--Number of servings-->
                        {% if recipe.servings %}
                            <em>Serves:</em> {{recipe.servings}}<br>
                        {% endif %}
                        
                        <!--Preparation time, not counting cooking and marindading time-->
                        {% if recipe.prep_time %}
                            <em>Preparation Time:</em> {{recipe.prep_time}}<br>
                        {% endif %}
            
                        <!--Optional text for marinade-->
                        {% if recipe.marinate_time %}
                            <em>Marinate Time:</em> {{recipe.marinate_time}}<br>
                        {% endif %}
                        
                        <!--Time needed to cook the recipe-->
                        {% if recipe.cook_time %}
                            <em>Cook Time:</em> {{recipe.cook_time}} </p>
                        {% endif %}
                    </div>
                    
                    <!--Button to edit a recipe-->
                    <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn red darken-4">
                        <i class="material-icons right">edit</i>Edit Recipe</a>
                        
                    <!--Button to delete a recipe-->
                    <form action="{{url_for('warning')}}" method="POST">
                        <button type="submit" class="waves-effect waves-light btn red darken-4">
                            <i class="material-icons right">delete</i>Delete Recipe</button>
                    </form>
                            
                    <!--If the DELETE RECIPE button is clicked, a warning appears-->
                    {% with messages = get_flashed_messages() %} {% if messages %}
                        {% for message in messages %}
                        
                        <p id="flash">{{ message }}</p>
                        
                        <!--Clicking this button confirms the deletion-->
                        <form action="{{url_for('delete_recipe', recipe_id=recipe._id)}}" method="POST">
                        <button type="submit" class="waves-effect waves-light btn red darken-4">
                            <i class="material-icons right">check</i>Confirm</button>
                        </form>
                        
                        <!--Clicking this button cancels the deletion-->
                        <form action="{{url_for('show_recipes')}}" method="POST">
                        <button type="submit" class="waves-effect waves-light btn red darken-4">
                            <i class="material-icons right">close</i>Cancel</button>
                        </form>
                        
                        {% endfor %}
                    {% endif %} {% endwith %} <!--End of loop through flashed-->
        
                    
                </div> <!--End of information-->
    
                <!--Ingredients-->
                <div class="col  l4" id="ingredients">
                <h2>Ingredients</h2>
                    <pre>{{recipe.ingredients}}</pre> <!--The pre tag preserves the line breaks in the text from MongoDB-->
                </div> <!--End of ingredients-->
                
                <!--Preparation instructions-->
                <div class="col  l4" id="method">
                    <h2>Method</h2>
                    <pre>{{recipe.method}}</pre> <!--The pre tag preserves the line breaks in the text from MongoDB-->
                </div> <!--End of preparation instructions-->
                
            </div> <!--End of recipe-->
            
        {% endfor %} <!--End of loop through recipes-->

{% endblock %}