{% extends 'base.html'%} {% block content %}

<h1>{{recipe.recipe_title}}</h1>

<div  class= "row">
                
    <!--Illustration and information about the recipe-->
    <div class="col s12 m6 xl4">
        
        <!--Recipe illustration if it exists-->
        <!--The image paths are stored in the database, and this code pulls the correct image for the recipe into the template-->
        {% if recipe.image_path %}
            <img class="illustration" src="{{recipe.image_path}}" title="{{recipe.recipe_title}}" alt="{{recipe.recipe_title}}"></a>
        {% endif %}
        
        <!--Information about the recipe-->
        <div id="information">
                        
            
            {% if recipe.username %}
                Submitted by {{recipe.username}}<br>
            {% endif %}
            
            <!--Optional text for the recipe's author-->
            {% if recipe.author %}
                Recipe by {{recipe.author}}<br>
            {% endif %}
            
            <!--Optional text to display if the recipe contains allergens-->
            {% if recipe.allergens %}
                Contains {{recipe.allergens|join(', ')}}<br>
            {% endif %}
    
            <!--Optional text to display if the recipe is suitable for restricted diets-->
            {% if recipe.restrictions %}
                Suitable for {{recipe.restrictions|join(', ')}} diets<br>
            {% endif %}
    
            <!--Optional text for the recipe's country of origin-->
            {% if recipe.origin %}
                Country of Origin: {{recipe.origin}}<br>
            {% endif %}
                            
            <!--Optional text for number of servings-->
            {% if recipe.servings %}
                Serves {{recipe.servings}}<br>
            {% endif %}
                            
            <!--Optional text for ingredient preparation time-->
            {% if recipe.prep_time %}
                Preparation Time: {{recipe.prep_time}}<br>
            {% endif %}
            
            <!--Optional text for any extra time, e.g. marinading, proving, etc.-->
            {% if recipe.extra_time %}
                Extra Time: {{recipe.extra_time}}<br>
            {% endif %}
                        
            <!--Optional text for time needed to cook the recipe-->
            {% if recipe.cook_time %}
                Cook Time: {{recipe.cook_time}} <br>
            {% endif %}
                        
        </div> <!--End of information text-->
           
    </div> <!--End of recipe information and illustration section-->
    
    <!--Ingredients-->
    <div class="col s12 m6 xl3" id="ingredients">
    <h2>Ingredients</h2>
        <pre>{{recipe.ingredients}}</pre> <!--The pre tag preserves the line breaks in the text from MongoDB-->
    </div> <!--End of ingredients-->
                    
    <!--Preparation instructions-->
    <div class="col s12 xl5" id="method">
        <h2>Method</h2>
        <pre>{{recipe.method}}</pre> <!--The pre tag preserves the line breaks in the text from MongoDB-->
    </div> <!--End of preparation instructions-->
                
</div> <!--End of recipe-->

<div class="row">
    
    <!--Only the user who submitted the recipe can see the Edit and Delete buttons-->
    {% if session.username == recipe.username %}
    
    <!--Button to edit a recipe-->
    <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn waves-effect waves-light">
        <i class="material-icons right">edit</i>Edit</a>
                            
    <!--Button to delete a recipe-->
    <a href="{{url_for('warning', recipe_id=recipe._id)}}" class="btn waves-effect waves-light">
        <i class="material-icons right">delete</i>Delete</a>
        
    {% endif %}     
            
        <!--If the Delete button is clicked, a warning appears-->
        {% with messages = get_flashed_messages() %} {% if messages %}
        
            {% for message in messages %}
                                
            <p id="flash">{{ message }} </p>
            
            <!--Clicking this button cancels the deletion-->
            <form action="{{url_for('show_recipe', recipe_id=recipe._id)}}" method="POST">
            <button type="submit" class="btn waves-effect waves-light">
                <i class="material-icons right">close</i>Cancel</button>
            </form>
    
            <!--Clicking this button confirms the deletion-->
            <form action="{{url_for('delete_recipe', recipe_id=recipe._id)}}" method="POST">
            <button type="submit" class="btn waves-effect waves-light">
                <i class="material-icons right">check</i>Confirm</button>
            </form>
        
            {% endfor %}
                    
    {% endif %} {% endwith %} <!--End of loop through flashed messages-->

</div>

{% endblock %}